* {
  transition: all 1s ease;
}

.category-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 100%;
}

.filter-options {
  padding: 0.8em;
  position: absolute;
  transform: translateX(-100%);
  background-color: #222;
  width: fit-content;
  z-index: 3;
  color: white;
}

.filter {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em;
}

.search {
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  width: 35%;
  font-size: large;
}

.category-header {
  display: flex;
  align-items: center;
}

.category-header>h1 {
  font-size: 16px;
}

.hr-line {
  height: 2px;
  border-width: 0;
  width: 20%;
  color: gray;
  background-color: gray;
}

@media only screen and (min-width: 768px) {
  .category-header>h1 {
    font-size: 32px;
  }

  .hr-line {
    width: 35%;
  }

  .hr2-line {
    width: 70%;
  }
}